@font-face { font-family: Comfortaa; font-weight: normal; src: url('comfortaa/Comfortaa_Regular.ttf') }

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg) }
    to { -moz-transform: rotate(360deg) }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(0deg) }
    to { -o-transform: rotate(180deg) }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(0deg) }
    to { -ms-transform: rotate(360deg) }
}

#topMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    height: 150px;
    font-size: 15px;
}

#topMenu img {
  position: absolute;
  top: 0px;
  width: 150px;
  height: 100%;
}

#topMenu img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.titleMenu {
  top: 30px;
  text-align: center;
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  top: 150px;
  left: 0px;
  right: 0px;
  background: url(assets/darkSide.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.barraMenu {
    position: relative;
    align-self: center;
    top: 20%;
    left: 10%;
    bottom: 20%;
    height: 30%;
    font-size: 20px;
    font-family: Comfortaa;
<<<<<<< HEAD:Cod_multimidia/Site/styles.css
    margin-left: 20%;
    margin-right: 20%;
}

=======
    margin-left: 10%;
    margin-right: 10%;
}

/* .sobre {
    position: relative;
    left: 180px;
    top: 70px;
}

.shortbio {
    position: relative;
    left: 220px;
    top: 70px;
}

.contact {
    position: relative;
    left: 260px;
    top: 70px;
} */

>>>>>>> 06a370252ad06c9b5e06691f2a6cb3fe09dd4edf:Site/styles.css
.w3-red {
  border: 1px solid;
  border-radius: 30px;
  background-color: #5e0000;
  color: #fff;
  height: 50%;
  width: 20%;
  align-content: center;
  overflow: hidden;
<<<<<<< HEAD:Cod_multimidia/Site/styles.css
  cursor: pointer;
=======
>>>>>>> 06a370252ad06c9b5e06691f2a6cb3fe09dd4edf:Site/styles.css
}

/* .w3-red, .w3-hover-red:hover {

} */

#centerImage {
  position: relative;
  background: url(assets/eclipse.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 80px 0;
  align-content: center;
  height: 400px;
  width: 700px;
}

#centerImage .button {
  position: relative;
  background-color: #5e0000;
  border: 1px solid;
  margin: auto;
  color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  align-content: center;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
}

#centerImage .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#centerImage .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#centerImage .button:hover span {
  padding-right: 25px;
}

#centerImage .button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
  top: -18%;
  left: 42%;
}

.button2{
  top: 10%;
  left: 70%
}

.button3 {
  top: 70%;
  left: 50%;
}

.button4 {
  top: 90%;
  right: 12%;
}

.button5 {
  top: 70%;
  right: 75%;
}

.button6 {
  top: -15%;
  right: 5%;
}

.imageButton {
  position: relative;
  height: 100%;
  width: 100%;
}

.btn-group {
  position: absolute;
  top: 30px;
  left: 15px;
}

.btn-group .buttonProfile {
  border-radius: 30px;
  background: url(assets/profile.png);
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid none;
  padding: 15px 32px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: block;
}

.btn-group .buttonProfile:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.buttonProfile2 {
  position: relative;
  top: 20px;
}

.buttonProfile3 {
  position: relative;
  top: 40px;
}

.buttonProfile4 {
  position: relative;
  top: 60px;
}

.nameProfile {
  position: relative;
  font-size: 15px;
  /* padding: 32px; */
  right: -50px;
  font-family: Comfortaa;
  color: white;
}

/* .btn-group .buttonProfile:hover {
  content: a;
  display: inline-flex;
} */
